/* ------- GLOBAL ------- */
:root
{
    --text: #f0eff6;
    --text-secondary: #a5a5a5;
    --text-error: #ff6464;
    --text-warning: #db9811;
    --text-success: #48da11;
    --text-info: #5595f9;

    --background: #020203;
    --panel-background: #0b0b11;

    --primary: #36a6d6;
    --secondary: #262564;
    --accent: #2221a4;

    --error: #760909;
    --warning: #5d4109;
    --success: #1c5606;
    --info: #062556;
    --neutral: #414449;
}



/* ------- DEFAULTS ------- */
*
{
    box-sizing: border-box;
    margin: 0;
}

html, body
{
    min-height: 100vh;

    background-color: var(--background);
    
    color: var(--text);
    font-family: 'Quicksand', sans-serif;
}

h1, h2, h3, h4, h5, h6
{
    color: var(--text);
    font-family: 'Julius Sans One', sans-serif;
    font-weight: bold;
}

h1
{
    color: var(--primary);
    font-size: 5em;
}

a
{
    color: var(--text-info);
}



/* ------- CONTENT ------- */
.page
{
    padding: 5vw;
}

header
{
    text-align: center;
}


.catalog
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.resource
{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: var(--accent) solid;
    border-width: 0px 2px 2px 2px;
    
    display: inline-block;
    
    background-image: linear-gradient(180deg, transparent, var(--panel-background));
}

.resource.need-check
{
    border-color: var(--warning);
}

.resource.need-check::after
{
    margin: 2px 5px;
    padding: 2px 4px;

    content: '/!\\ Needs checking';
    color: var(--text-warning);
    font-weight: bold;
    font-style: italic;
}


.resource .name
{
    margin-bottom: 8px;

    display: flex;
    align-items: center;

    color: var(--text);
    font-family: 'Julius Sans One', sans-serif;
    font-weight: bold;
    font-size: 1.2em;
}

.resource .name::after
{
    width: 17px;
    height: 17px;

    margin-left: 5px;

    display: inline-block;

    background-color: var(--text);
    -webkit-mask-image: url('icons/output_FILL0_wght400_GRAD0_opsz24.svg');
    mask-image: url('icons/output_FILL0_wght400_GRAD0_opsz24.svg');

    -webkit-mask-size: contain;
    mask-size: contain;

    content: '';
}


.resource .desc
{
    color: var(--text-secondary);
}


.resource .pricing-options
{
    margin: 5px 0;

    display: flex;
}

.resource .pricing
{
    margin: 2px 5px;
    padding: 2px 4px;

    border-radius: 4px;

    background-color: var(--neutral);
}

.resource .pricing.free
{
    background-color: var(--success);
}

.resource .pricing.free-trick
{
    background-image: linear-gradient(25deg, var(--success) 50%, var(--neutral) 50%);
}

.resource .pricing.free-limited
{
    background-image: linear-gradient(25deg, var(--success) 50%, var(--warning) 50%);
}

.resource .pricing.expensive
{
    background-color: var(--warning);
}

.resource .pricing.special
{
    background-color: var(--warning);
}


.resource .features
{
    margin: 5px 0;

    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.resource .feature
{
    margin: 2px 5px;

    display: flex;
    align-items: center;
}

.resource .feature.premium
{
    color: var(--text-warning);
}

.resource .feature.premium::after
{
    width: 13px;
    height: 13px;

    margin-left: 5px;

    display: inline-block;

    background-color: var(--text-warning);
    -webkit-mask-image: url('icons/paid_FILL0_wght400_GRAD0_opsz24.svg');
    mask-image: url('icons/paid_FILL0_wght400_GRAD0_opsz24.svg');

    -webkit-mask-size: contain;
    mask-size: contain;

    content: '';
}

.resource .feature.generic
{
    padding: 2px 4px;
}

.resource .feature.edit
{
    padding: 0 4px;
}


.resource .caveats
{
    margin: 5px 0;

    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.resource .caveat
{
    margin: 2px 5px;
}

.resource .caveat.low
{
    color: var(--text-error);
}

.resource .caveat.medium
{
    border-radius: 4px;
    box-shadow: inset 0px 0px 0px 2px var(--error);
    
    color: var(--text-error);
}

.resource .caveat.high
{
    background-color: var(--error);
    color: var(--text);
}


.resource-type
{
    margin: 0 5px;
    padding: 2px 4px;
    border-radius: 4px;

    background-color: var(--neutral);

    font-weight: bold;
}

.feature-type
{
    margin: 0 5px;
    padding: 2px 4px;
    border-radius: 4px;
    
    box-shadow: inset 0px 0px 0px 2px var(--neutral);
}



/* ------- TOOLTIPS ------- */
.has-tooltip
{
    position: relative;
    cursor: help;
}

.has-tooltip::after
{
    width: 13px;
    height: 13px;

    margin-left: 3px;

    display: inline-block;

    background-color: var(--text);
    -webkit-mask-image: url('icons/info_FILL0_wght400_GRAD0_opsz24.svg');
    mask-image: url('icons/info_FILL0_wght400_GRAD0_opsz24.svg');

    -webkit-mask-size: contain;
    mask-size: contain;

    content: '';
}

.has-tooltip .tooltip
{
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -15px;
    padding: 3px 5px;
    border-radius: 4px;

    visibility: hidden;
    opacity: 0;

    background-color: var(--neutral);
    color: var(--text);
    text-align: center;

    transition: visibility 0.3s, opacity 0.3s;
}

.has-tooltip .tooltip::after
{
    position: absolute;
    top: 100%;
    left: 15px;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: var(--neutral) transparent transparent transparent;
    content: '';
}

.has-tooltip:hover .tooltip
{
    visibility: visible;
    opacity: 1;
}

/* ------- LOG ------- */
.log
{
    padding: 5px;
}

.log.empty
{
    visibility: hidden;
}

.log-entry
{
    display: grid;
    grid-template: 'status message data';
    grid-template-columns: 30px auto 1fr;
    grid-column-gap: 20px;
    align-items: center;

    margin: 5px;
    padding: 5px;
    border-radius: 5px;

    background-color: var(--neutral);
}

.log-unknown, .log-redirect
{
    background-color: var(--warning);
}

.log-info
{
    background-color: var(--info);
}

.log-success
{
    background-color: var(--success);
}

.log-client, 
.log-server
{
    background-color: var(--error);
}